@{
    ViewData["Title"] = "Home Page";
}

<div style="font-family:'Segoe Print'" class="text-center">
    <h1 class="display-4">The White Smile</h1>
    <p style="font-family: Gabriola;font-size:200%">Добре дошли в нашата Дентална клиника!</p>
</div>
<div style="text-align:center;"><p><img src="/css/pngtree-healthy-cute-teeth-cartoon-png-image_9267395.png"></p></div>