@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Contacts: bobobobski06@gmail.com, ana.boneva@paisii.info
</p>
<p>
    All rigths received&#169
</p>


<style>
    
</style>