@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="font-family:Gabriola;font-size:300%;">@ViewData["Title"]</h1>

<p style="font-family:'Times New Roman';font-size:120%;">
    Contacts: bobobobski06@gmail.com, ana.boneva@paisii.info
</p>
<p style="font-family:'Times New Roman';font-size:120%;">
    All rigths received&#169
</p>


<style>
    
</style>